<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'core/img/logo.png' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    {% include 'core/navbar.html' %}

    <!--AGREGAR PRODUCTO-->
    <!--
    ======================================================================================================= -->
    {% if messages == "Producto Registrado" %}
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Producto Agregado',
                showConfirmButton: false,
                timer: 1700
              })
        </script>
        messages = "false"
    {% endif %}
    <div class="container">
        <form action="{% url 'registrarP' %}" method="POST" id="agregarP" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row">
                <div class="col-md-6 col-sm-12 mt-3 mb-3">
                    <div class="form-group">
                        <label for="fotoP">Foto Producto: </label>
                        <div class="ratio ratio-1x1">
                            <img src="{% static 'core/img/producto.png' %}" id="foto" alt="...">
                        </div>
                        <input type="file" name="fotoInput" id="fotoInput" accept=".jpg,.png" required />
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mt-3 mb-3">
                    <div class="form-group">
                        <label for="nombreProducto"> Nombre del Producto</label>
                        <input type="text" class="form-control mt-1 mb-2" name="nombreProducto" id="nombreProducto" placeholder="Ingresar Nombre del Producto" required>
                        <p class="msjAlerta" id="msjNombre"></p>
                    </div>
        
                    <div class="form-group">
                        <label for="precioP">Precio del Producto</label>
                        <input id="precioP" min="0" name="precioP" value="0" type="number"class="form-control mt-1 mb-2" placeholder="Ingrese Precio del Producto" required />
                        <p class="msjAlerta" id="msjPrecio"></p>
                    </div>
                                
                    <div class="form-group">
                        <label for="descripcionCorta">Descripción Corta</label>
                        <input type="text" class="form-control mt-1 mb-2" name="descripcionCorta" id="descripcionCorta" placeholder="Ingresar Descripción Corta" required>
                        <p class="msjAlerta" id="msjCorta"></p>
                    </div>
                    
                    <div class="form-group">
                        <label for="descripcionDetallada">Descripción Detallada</label>
                        <textarea type="text" class="form-control mt-1 mb-2" name="descripcionDetallada"id="descripcionDetallada" placeholder="Ingresar Descripción Detallada" required></textarea>
                        <p class="msjAlerta" id="msjDetallada"></p>
                    </div>
                    
                    <div class="form-group">
                        <label for="cantidad">Seleccionar Cantidad Disponible</label>
                        <input id="cantidad" min="0" name="cantidad" value="0" type="number" class="form-control mt-1 mb-2" placeholder="Seleccionar Disponibilidad" required />
                        <p class="msjAlerta" id="msjCantidad"></p>
                    </div>
                    
                    <div class="form-group">
                        <label for="categoria">Seleccionar Categoría</label>
                        <select class="form-select" id="categoria" name="categoria" required>
                            {% for c in categoria_p %}
                            <option value="{{ c.idCategoria }}">{{ c.nombreC }}</option>
                            {% endfor %}
                        </select>
                        <p class="msjAlerta" id="msjCategorias"></p>
                        <p class="msjAlerta" id="msj"></p>
                    </div>
        
                    <button type="submit" class="btn btn-primary px-3 mt-3">Agregar Producto</button>
                </div>
            </div> 
        </form>
    </div>

    {% include 'core/footer.html' %}
    <script src="{% static 'core/js/Varios.js' %}"></script>
</body>

</html>