{% extends 'core/plantillaCategoriaProducto.html' %}
{% load static %}

{% block catalogo %}
<div class="container-fluid">
  <div class="row row-cols-2 row-cols-md-4 mt-2 mb-4 gy-3">
    {% for z in zapatillas %}
    <div class="col">
      <div class="card h-100">
        <div class="text-center">
          <a href="{% url 'core:producto' z.idProducto %}"><img src="{{ z.foto.url }}" class="card-img-top imgcatal"
              alt="...">
            <div class="overlay">
              Click para ver producto
            </div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ z.nombreProducto }}</h5>
          <p class="card-text">{{ z.descCorta }}</p>
          <p class="card-text" style="color: rgb(211, 20, 20); font-size: 150%;">${{ z.precio }}</p>
          <a href="{% url 'carrito:agregar_producto' z.idProducto %}" class="btn btn-primary">Agregar al Carro</a>
          <a href="{% url 'core:editarProducto' z.idProducto %}" class="btn btn-primary">Editar</a>
          <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock catalogo %}