<!DOCTYPE html>
<html lang="es">

  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympus</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'core/img/logo.png' %}">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  {% include 'core/navbar.html' %}


  <!--
    ======================================================================================================= -->
  <!--CUENTA USUARIO -->
  <!--
    ======================================================================================================= -->

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <h5>
          Foto de Perfil
        </h5>
        <img src={{ user.foto.url }} class= "img-thumbnail" alt="...">
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <div class="row px-3">
          <h5>
            Nombre Completo
            </h3>
            <p>
              {{ user.nombre }} {{ user.apellidoPa }} {{ user.apellidoMa}}
            </p>
            <h5>
              Correo Electrónico
            </h5>
            <p id="correoUsuario" name="correoUsuario">{{ user.email }}</p>
            {% if user.is_staff == 1 %}
              <h5>
                Cargo
              </h5>
              <p>
                Administrador
              </p>
            {% endif %}
            <h5>
              Dirección
            </h5>
            <p id="direcUsuario" name="direcUsuario">
              {{ direcUser.direccion }}
            </p>
            <h5>
              Número
              Telefónico
            </h5>
            <p>
              +56 {{ user.telefono }}
            </p>
            <a href="{% url 'core:editarCuenta' %}" class="btn btn-primary mb-3">Editar Cuenta</a>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      var email = $('#correoUsuario').text();
      
      $.ajax({
        url: window.location.pathname,
        type: 'POST',
        data: {
          'action': 'buscar_direccion',
          'email': email
        },
        dataType: 'json',
        }).done(function(data){
          if (!data.hasOwnProperty('error')) {
            direccion = data.direccionU + ', ' + data.comunaU + ', ' + data.regionU
            $('#direcUsuario').html(direccion)          
          }
          message_error(data.error);
        }).fail(function(jqXHR, textStatus, errorThrown){
        }).always(function(data) {
          select_comunas.html(options);
        });
      });
  </script>


  {% include 'core/footer.html' %}
</body>

</html>