<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympus</title>
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'core/img/logo.png' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  {% include 'core/navbar.html' %}
  <!--
    ======================================================================================================= -->
  <!--SLIDER DE IMAGENES -->
  <!--
    ======================================================================================================= -->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
    style="background-color: rgb(239,239,239);">
    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="3000">
        <!-- ajustar tiempo del carrusel-->
        <img src="{% static 'core/img/Pantalon.png' %}" class="d-block w-100 imgsld" alt="slide1">
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'core/img/Poleron.png' %}" class="d-block w-100 imgsld" alt="slide2">
      </div>

      <div class="carousel-item" data-bs-interval="3000">
        <img src="{% static 'core/img/Zapatillas.png' %}" class="d-block w-100 imgsld" alt="slide3">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  {% include 'core/footer.html' %}
</body>

</html>