<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympus</title>
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'core/img/logo.png' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  {% include 'core/navbar.html' %}
  <!--INICIAR SESIÓN-->
  <!--
======================================================================================================= -->
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6" style="text-align: center;">
        <h1> Iniciar Sesión </h1>
      </div>
      <div class="col-lg-3 ">
      </div>
    </div>
  </div>
  <!--Formulario-->
  <div class="container py-3 mb-5">
    <div class="row py-5">
      <form class="col-md-9 m-auto" role="form" action="{% url 'users:login' %}" method="POST" id="login">
      {% csrf_token %} 

        <div class="mb-3 form-group">
          <label>Correo Electrónico</label>
          {{ loginForm.email }}
        </div>

        <div class="mb-3 form-group">
          <label>Contraseña</label>
          {{ loginForm.password }}
        </div>

        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkInicio">
          <label class="form-check-label" for="checkInicio">Recordar mis datos</label>
        </div>

        <div class="d-grid gap-3">
          <p class="msjAlerta" id="msjCorreo"></p>
          <button type="submit" class="btn btn-primary ">Iniciar Sesión</button>
          <a button type="button" href="{% url 'core:recuperarClave' %}" class="btn btn-danger ">Olvide mi contraseña</a button>
        </div>

      </form>
    </div>
    <h6 style="text-align: center;">¿Nuevo Usuario?</h6>
    <div class="d-grid col-6 mx-auto">
      <a button type="button" href="{% url 'core:registro' %}" class="btn btn-dark ">¡Click aqui para unirte! </a button>
    </div>
  </div>

  {% include 'core/footer.html' %}
</body>

</html>