<!DOCTYPE html>

<body>
  {% load static %}
  <!--
    ======================================================================================================= -->
  <!-- ENCABEZADO -->
  <!--
    ======================================================================================================= -->
  <header class="container-fluid bg-black text-light
    d-flex justify-content-center">
    <p class="text-light mb-0 p-2 fs-6">Despacho sobre $30.000 </p>
  </header>


  <!--
    ======================================================================================================= -->
  <!-- BARRA NAVEGADORA -->
  <!--
    ======================================================================================================= -->

  <div class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light  border-bottom p-2 " id="menu">
      <div class="container-fluid">
        <!-- aqui va el logo superpuesto-->
        <img src="{% static 'core/img/logo.png' %}" alt="logo de la pagina" width="80">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div id="MenuNavegacion" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-3">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:index' %}">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ROPA
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'core:catalogoChaquetas' %}">Chaquetas</a></li>
              <li><a class="dropdown-item" href="{% url 'core:catalogoPantalones' %}">Pantalones</a></li>
              <li><a class="dropdown-item" href="{% url 'core:catalogoPoleras' %}">Poleras</a></li>
              <li><a class="dropdown-item" href="{% url 'core:catalogoPolerones' %}">Polerones</a></li>
              <li><a class="dropdown-item" href="{% url 'core:catalogoZapatillas' %}">Zapatillas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'core:contacto' %}">CONTACTO</a>
          </li>
          {% if user.is_authenticated and user.is_staff == 0 %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CARRITO
            </a>
            <ul class="dropdown-menu">
              <li>{% include "core/widget.html" %}</li>
              <li><a class="mx-5 btn btn-primary" href="{% url 'core:carrito' %}">Ver Carrito</a></li>
            </ul>
          </li>
          {% endif %}
          {% if user.is_authenticated and user.is_staff == 1 %}
            <li class="nav-item">
              <a class="nav-link text-nowrap" href="{% url 'core:agregarProducto' %}">AGREGAR PRODUCTO</a>
            </li>
          {% endif %} 
        </ul>
        <ul class="navbar-nav ms-3">      
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-nowrap" href="{% url 'users:logout' %}">CERRAR SESIÓN</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'core:cuenta' %}">
                <img src={{ user.foto.url }} class="rounded-circle" height="40" width='40' alt="" loading="lazy" />
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link text-nowrap" href="{% url 'core:iniciarSesion' %}">INICIAR SESIÓN</a>
            </li>
            {% endif %}         
        </ul>
      </div>
    </nav>
  </div>

{% for m in messages %}
  {% if 'success' in m.tags %}
  <script>
    Swal.fire({
      icon: 'success',
      title: '{{m}}',
      showConfirmButton: false,
      timer: 2000
    })
  </script>
  {% else %}
  <script>
    Swal.fire({
      icon: 'error',
      title: '{{m}}',
      showConfirmButton: false,
      timer: 2000
    })
  </script>
  {% endif %}
{% endfor %}

</body>

</html>