{% extends 'core/plantillaProducto.html' %}
{% load static %}
  

  {% block cabecera %}
  <title>Olympus</title>
  {% endblock cabecera %}

      {% block detalleProducto %}
      <div class="row">
        <div class="col-md-6 col-sm-12 mt-3 mb-3">
          {% if producto.foto %}
            <div class="ratio ratio-1x1"><img src="{{ producto.foto.url }}" class="img-thumbnail" alt="..."></div>
          {% else %}
            <div class="ratio ratio-1x1"><img src="/media/core/default.png" class="img-thumbnail" alt="..."></div>
          {% endif %}
        </div>
        <div class="col-md-6 col-sm-12 mt-3 mb-3">
          <div class="row row px-3">
            <h3>
              {{ producto.nombreProducto }}
            </h3>
            <p style="color: rgb(0, 100, 255); font-size: 120%;">
              ${{ producto.precio }}
            </p>
            <h5>
              {{ producto.descCorta }}
            </h5>
            <p>
              {{ producto.descLarga }}
            </p>
            <h5>
              Disponibilidad: {{ producto.stock }}
            </h5>
      
            {% if user.is_authenticated and user.is_staff == 0 %}
              <b>Seleccionar Cantidad</b>
              <form action="{% url 'carrito:agregar_producto_varios' producto.idProducto %}" method="POST">
              {% csrf_token %} 
                <div class="form-outline">
                  <input id="formCantidad" min="1" max="{{ producto.stock }}" name="formCantidad" value="1" type="number" class="form-control mb-3" />
                </div>
                <button type="submit" class="btn btn-primary ">Agregar al Carro</button>
              </form>
            {% elif user.is_authenticated and user.is_staff == 1 %}

            {% else %}
              <b>Seleccionar Cantidad</b>
              <form action="" method="POST">
              {% csrf_token %} 
                <div class="form-outline">
                  <input id="formCantidad" min="1" max="{{ producto.stock }}" name="formCantidad" value="1" type="number" class="form-control mb-3" />
                </div>
                  <a href="{% url 'core:requiereLogin' %}" class="btn btn-primary">Agregar al Carro</a>
              </form>
            {% endif %}
          </div>
        </div>
      </div>
      {% endblock detalleProducto %}
    