<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympus</title>
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'core/img/logo.png' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<style>
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<body>
  {% include 'core/navbar.html' %}
  <!--
    ======================================================================================================= -->
  <!--REGISTRO DE USUARIO -->
  <!--
    ======================================================================================================= -->

  <div class="container px-4">
    <div class="row">
      <div class="col-lg-3 col-sm-1">

      </div>
      <div class="col-lg-6 col-sm-10 mt-3 mb-3">
        <div class="row">
          <form action="" method="post" id="formRegistro">
            <label for="nombre">
              Nombre
            </label>
            <input type="text" class="form-control mt-1 mb-2" name="nombre" id="nombre" placeholder="Ingresar Nombre"
              required>
            <p class="msjAlerta" id="msjNom"></p>
            <label for="apellidoPa">
              Apellido Paterno
            </label>
            <input type="text" class="form-control mt-1 mb-2" name="apellidoPa" id="apellidoPa"
              placeholder="Ingresar Primer Apellido" required>
            <p class="msjAlerta" id="msjApellidoPa"></p>
            <label for="apellidoMa">
              Apellido Materno
            </label>
            <input type="text" class="form-control mt-1 mb-2" name="apellidoMa" id="apellidoMa"
              placeholder="Ingresar Segundo Apellido" required>
            <p class="msjAlerta" id="msjApellidoMa"></p>
            <label for="correoRegistro">
              Correo Electrónico
            </label>
            <input type="email" class="form-control mt-1 mb-2" name="correoRegistro" id="correoRegistro"
              placeholder="Ingresar correo electrónico" required>
            <p class="msjAlerta" id="msjCorreo"></p>
            <label for="Direccion">
              Direccion
            </label>
            <input type="text" class="form-control mt-1 mb-2" name="direccion" id="direccion"
              placeholder="Ingresar Direccion" required>
            <p class="msjAlerta" id="msjDireccion"></p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <label for="region">Región</label>
                <div class="input-group mb-3">
                  <select class="form-select" id="region" name="region" required>
                    <option selected>Escoge tu Región</option>
                    <option value="1">Región Metropolitana</option>
                    <option value="2">Valparaíso</option>
                    <option value="3">Coquimbo</option>
                  </select>
                </div>
                <p class="msjAlerta" id="msjRegion"></p>
              </div>
              <div class="col-sm-12 col-md-6">
                <label for="comuna">
                  Comuna
                </label>
                <div class="input-group mb-3">
                  <select class="form-select" id="comuna" name="comuna" required>
                    <option selected>Escoge tu Comuna</option>
                    <option value="1">Recoleta</option>
                    <option value="2">Huechuraba</option>
                    <option value="3">Quilicura</option>
                  </select>
                </div>
                <p class="msjAlerta" id="msjComuna"></p>
              </div>
            </div>
            <label for="telefono">
              Número
              Telefónico
            </label>
            <input type="number" class="form-control mt-1 mb-2" name="telefono" id="telefono" min="1"
              placeholder="Ingresar Número Telefónico" required>
            <p class="msjAlerta" id="msjTel"></p>
            <label for="clave1">
              Contraseña
            </label>
            <input type="password" class="form-control mt-1 mb-2" name="clave1" id="clave1"
              placeholder="Ingresar contraseña" required>
            <label for="clave2">
              Repetir contraseña
            </label>
            <input type="password" class="form-control mt-1 mb-2" name="clave2" id="clave2"
              placeholder="Repetir contraseña" required>
            <p class="msjAlerta" id="msjClave"></p>
            <p class="msjAlerta" id="msj"></p>
            <button type="submit" href="/IniciarSesion.html" class="btn btn-primary">Crear Cuenta</button>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-sm-1">

      </div>
    </div>
  </div>


  {% include 'core/footer.html' %}
</body>

</html>