<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olympus</title>
  <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <script src="https://kit.fontawesome.com/35863c2e47.js" crossorigin="anonymous"></script>
  <link rel="icon" href="{% static 'core/img/logo.png' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<style>
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<body>
  {% include 'core/navbar.html' %}
  <!--
    ======================================================================================================= -->
  <!--REGISTRO DE USUARIO -->
  <!--
    ======================================================================================================= -->

  <div class="container px-4 mt-5">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-6" style="text-align: center;">
        <h1> Registro de usuario </h1>
      </div>
      <div class="col-lg-3 ">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-1">
        
      </div>
      <div class="col-lg-6 col-sm-10 mt-3 mb-3">
        <div class="row">
          <form action="{% url 'users:signup' %}" method="post" id="formRegistro">
          {% csrf_token %}

            <div class="mb-3 form-group">
              <label for="correoRegistro">Correo Electrónico</label>
              {{ signupForm.email }}
              <p class="msjAlerta" id="msjCorreo"></p>
            </div>

            <div class="mb-3 form-group">
              <label for="nombre">Nombre</label>
              {{ signupForm.nombre }}
              <p class="msjAlerta" id="msjNom"></p>
            </div>

            <div class="mb-3 form-group">
              <label for="apellidoPa">Primer Apellido</label>
              {{ signupForm.apellidoPa }}
              <p class="msjAlerta" id="msjApellidoPa1"></p>
              <p class="msjAlerta" id="msjApellidoPa2"></p>
            </div>

            <div class="mb-3 form-group">
              <label for="apellidoMa">Segundo Apellido</label>
              {{ signupForm.apellidoMa }}
              <p class="msjAlerta" id="msjApellidoMa1"></p>
              <p class="msjAlerta" id="msjApellidoMa2"></p>
            </div>
            
            <div class="mb-3 form-group">
              <label for="Direccion">Dirección</label>
              {{ direcForm.direccion }}
              <p class="msjAlerta" id="msjDireccion"></p>
            </div>
                      
            
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <label for="region">Región</label>
                <div class="input-group mb-3">
                  {{ direcForm.region }}
                  <!--
                  <select class="form-select" id="region" name="region" required>
                    <option selected>Escoge tu Región</option>
                    <option value="1">Región Metropolitana</option>
                    <option value="2">Valparaíso</option>
                    <option value="3">Coquimbo</option>
                  </select>
                  -->
                </div>
                <p class="msjAlerta" id="msjRegion"></p>
              </div>
              <div class="col-sm-12 col-md-6">
                <label for="comuna">Comuna</label>
                <div class="input-group mb-3">
                  {{ direcForm.comuna }}
                  <!--
                  <select class="form-select" id="comuna" name="comuna" required>
                    <option selected>Escoge tu Comuna</option>
                    <option value="1">Recoleta</option>
                    <option value="2">Huechuraba</option>
                    <option value="3">Quilicura</option>
                  </select>
                  -->
                </div>
                <p class="msjAlerta" id="msjComuna"></p>
              </div>
            </div>

            <div class="mb-3 form-group">
              <label for="telefono">Número Telefónico</label>
              {{ signupForm.telefono }}
              <p class="msjAlerta" id="msjTel"></p>
            </div>

            <div class="mb-3 form-group">
              <label for="clave1">Contraseña</label>
              {{ signupForm.password }}
            </div>

            <div class="mb-3 form-group">
              <label for="clave2">Repetir contraseña</label>
              {{ signupForm.password2 }}
              <p class="msjAlerta" id="msjClave"></p>
              <p class="msjAlerta" id="msj"></p>
            </div>
       
            <button type="submit" href="/IniciarSesion.html" class="btn btn-primary">Crear Cuenta</button>
          </form>
        </div>
      </div>
      <div class="col-lg-3 col-sm-1">

      </div>
    </div>
  </div>
  <!-- Script para combobox anidado de comunas -->
  <script>
    $(function(){
      $('select[name="region"]').on('change',function(){
        var id = $(this).val();
        var select_comunas = $('select[name="comuna"]');
        var options =  '<option values="">---------</option>';
        $.ajax({
          url: window.location.pathname,
          type: 'POST',
          data: {
            'action': 'buscar_comuna_id',
            'id': id
          },
          dataType: 'json',
        }).done(function(data){
          console.log(data);
          if (!data.hasOwnProperty('error')) {
            $.each(data,function(key, value){
              options+='<option values="'+ value.id +'">'+ value.nombre +'</option>';
            });
            return false;
          }
          message_error(data.error);
        }).fail(function(jqXHR, textStatus, errorThrown){
        }).always(function(data) {
          select_comunas.html(options);
        });
      });
    });
  </script>


  {% include 'core/footer.html' %}
</body>

</html>